@media (max-width: 768px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .courses {
        flex-direction: column;
        align-items: center;
    }

    .course {
        width: 80%;
        margin-bottom: 20px;
    }
}
